/*FrMWrK V0.0.1*/

:root{
    --error:rgb(229, 34, 34);
    --error-semitransparent:rgba(229,34,34,0.741);
    --warning:rgb(232, 207, 41);
    --warning-semitransparent: rgba(232, 207, 41, 0.741);
    --success:rgb(22, 188, 22);
    --success-semitransparent:rgba(22,188, 22, 0.741);
    --info: rgb(92, 176, 255);
    --info-semitransparent:rgba(92,176,255,0.741);
    --default:rgb(0, 85, 255);
    --default-semitransparent:rgba(0, 85, 255,0.741);
    --light:rgb(219, 219, 219);
    --dark:rgb(54, 54, 54);
}
.body{
    font-family: Arial, Helvetica, sans-serif;
}
/*borders*/
.border-error{border-style:solid;border-width:2px;border-color:Var(--error)}.border-warning{border-style:solid;border-width:2px;border-color:Var(--warning)}.border-success{border-style:solid;border-width:2px;border-color:Var(--success)}.border-info{border-style:solid;border-width:2px;border-color:Var(--info)}.border-default{border-style:solid;border-width:2px;border-color:Var(--default)}.border-light{border-style:solid;border-width:2px;border-color:Var(--light)}.border-dark{border-style:solid;border-width:2px;border-color:Var(--dark)}.border-medium-error{border-width:4px;border-color:Var(--error)}.border-medium-warning{border-width:4px;border-color:Var(--warning)}.border-medium-success{border-width:4px;border-color:Var(--success)}.border-medium-info{border-width:4px;border-color:Var(--info)}.border-medium-default{border-width:4px;border-color:Var(--default)}.border-medium-light{border-width:4px;border-color:Var(--light)}.border-medium-dark{border-width:4px;border-color:Var(--dark)}.border-wide-error{border-width:6px;border-color:Var(--error)}.border-wide-warning{border-width:6px;border-color:Var(--warning)}.border-wide-success{border-width:6px;border-color:Var(--success)}.border-wide-info{border-width:6px;border-color:Var(--info)}.border-wide-default{border-width:6px;border-color:Var(--default)}.border-wide-light{border-width:6px;border-color:Var(--light)}.border-wide-dark{border-width:6px;border-color:Var(--dark)}.border-top-error{border-top-style:solid;border-width:2px;border-color:Var(--error)}.border-top-warning{border-top-style:solid;border-width:2px;border-color:Var(--warning)}.border-top-success{border-top-style:solid;border-width:2px;border-color:Var(--success)}.border-top-info{border-top-style:solid;border-width:2px;border-color:Var(--info)}.border-top-default{border-top-style:solid;border-width:2px;border-color:Var(--default)}.border-top-light{border-top-style:solid;border-width:2px;border-color:Var(--light)}.border-top-dark{border-top-style:solid;border-width:2px;border-color:Var(--dark)}.border-top-medium-error{border-width:4px;border-color:Var(--error)}.border-top-medium-warning{border-width:4px;border-color:Var(--warning)}.border-top-medium-success{border-width:4px;border-color:Var(--success)}.border-top-medium-info{border-width:4px;border-color:Var(--info)}.border-top-medium-default{border-width:4px;border-color:Var(--default)}.border-top-medium-light{border-width:4px;border-color:Var(--light)}.border-top-medium-dark{border-width:4px;border-color:Var(--dark)}.border-top-wide-error{border-width:6px;border-color:Var(--error)}.border-top-wide-warning{border-width:6px;border-color:Var(--warning)}.border-top-wide-success{border-width:6px;border-color:Var(--success)}.border-top-wide-info{border-width:6px;border-color:Var(--info)}.border-top-wide-default{border-width:6px;border-color:Var(--default)}.border-top-wide-light{border-width:6px;border-color:Var(--light)}.border-top-wide-dark{border-width:6px;border-color:Var(--dark)}.border-bottom-error{border-bottom-style:solid;border-width:2px;border-color:Var(--error)}.border-bottom-warning{border-bottom-style:solid;border-width:2px;border-color:Var(--warning)}.border-bottom-success{border-bottom-style:solid;border-width:2px;border-color:Var(--success)}.border-bottom-info{border-bottom-style:solid;border-width:2px;border-color:Var(--info)}.border-bottom-default{border-bottom-style:solid;border-width:2px;border-color:Var(--default)}.border-bottom-light{border-bottom-style:solid;border-width:2px;border-color:Var(--light)}.border-bottom-dark{border-bottom-style:solid;border-width:2px;border-color:Var(--dark)}.border-bottom-medium-error{border-width:4px;border-color:Var(--error)}.border-bottom-medium-warning{border-width:4px;border-color:Var(--warning)}.border-bottom-medium-success{border-width:4px;border-color:Var(--success)}.border-bottom-medium-info{border-width:4px;border-color:Var(--info)}.border-bottom-medium-default{border-width:4px;border-color:Var(--default)}.border-bottom-medium-light{border-width:4px;border-color:Var(--light)}.border-bottom-medium-dark{border-width:4px;border-color:Var(--dark)}.border-bottom-wide-error{border-width:6px;border-color:Var(--error)}.border-bottom-wide-warning{border-width:6px;border-color:Var(--warning)}.border-bottom-wide-success{border-width:6px;border-color:Var(--success)}.border-bottom-wide-info{border-width:6px;border-color:Var(--info)}.border-bottom-wide-default{border-width:6px;border-color:Var(--default)}.border-bottom-wide-light{border-width:6px;border-color:Var(--light)}.border-bottom-wide-dark{border-width:6px;border-color:Var(--dark)}.border-left-error{border-left-style:solid;border-width:2px;border-color:Var(--error)}.border-left-warning{border-left-style:solid;border-width:2px;border-color:Var(--warning)}.border-left-success{border-left-style:solid;border-width:2px;border-color:Var(--success)}.border-left-info{border-left-style:solid;border-width:2px;border-color:Var(--info)}.border-left-default{border-left-style:solid;border-width:2px;border-color:Var(--default)}.border-left-light{border-left-style:solid;border-width:2px;border-color:Var(--light)}.border-left-dark{border-left-style:solid;border-width:2px;border-color:Var(--dark)}.border-left-medium-error{border-width:4px;border-color:Var(--error)}.border-left-medium-warning{border-width:4px;border-color:Var(--warning)}.border-left-medium-success{border-width:4px;border-color:Var(--success)}.border-left-medium-info{border-width:4px;border-color:Var(--info)}.border-left-medium-default{border-width:4px;border-color:Var(--default)}.border-left-medium-light{border-width:4px;border-color:Var(--light)}.border-left-medium-dark{border-width:4px;border-color:Var(--dark)}.border-left-wide-error{border-width:6px;border-color:Var(--error)}.border-left-wide-warning{border-width:6px;border-color:Var(--warning)}.border-left-wide-success{border-width:6px;border-color:Var(--success)}.border-left-wide-info{border-width:6px;border-color:Var(--info)}.border-left-wide-default{border-width:6px;border-color:Var(--default)}.border-left-wide-light{border-width:6px;border-color:Var(--light)}.border-left-wide-dark{border-width:6px;border-color:Var(--dark)}.border-right-error{border-right-style:solid;border-width:2px;border-color:Var(--error)}.border-right-warning{border-right-style:solid;border-width:2px;border-color:Var(--warning)}.border-right-success{border-right-style:solid;border-width:2px;border-color:Var(--success)}.border-right-info{border-right-style:solid;border-width:2px;border-color:Var(--info)}.border-right-default{border-right-style:solid;border-width:2px;border-color:Var(--default)}.border-right-light{border-right-style:solid;border-width:2px;border-color:Var(--light)}.border-right-dark{border-right-style:solid;border-width:2px;border-color:Var(--dark)}.border-right-medium-error{border-width:4px;border-color:Var(--error)}.border-right-medium-warning{border-width:4px;border-color:Var(--warning)}.border-right-medium-success{border-width:4px;border-color:Var(--success)}.border-right-medium-info{border-width:4px;border-color:Var(--info)}.border-right-medium-default{border-width:4px;border-color:Var(--default)}.border-right-medium-light{border-width:4px;border-color:Var(--light)}.border-right-medium-dark{border-width:4px;border-color:Var(--dark)}
/*prebuilts*/
/*buttons*/
.btn-error{padding:5px;font-family:Arial;color:#fff;background:Var(--error);border-radius:4px;text-decoration:none}.btn-warning{padding:5px;font-family:Arial;color:#fff;background:Var(--warning);border-radius:4px;text-decoration:none}.btn-success{padding:5px;font-family:Arial;color:#fff;background:Var(--success);border-radius:4px;text-decoration:none}.btn-info{padding:5px;font-family:Arial;color:#fff;background:Var(--info);border-radius:4px;text-decoration:none}.btn-default{padding:5px;font-family:Arial;color:#fff;background:Var(--default);border-radius:4px;text-decoration:none}.btn-light{padding:5px;font-family:Arial;color:#000;background:Var(--light);border-radius:4px;text-decoration:none}.btn-dark{padding:5px;font-family:Arial;color:#fff;background:Var(--dark);border-radius:4px;text-decoration:none}
.btn-error:hover{
    filter:brightness(95%);
}
.btn-warning:hover {
    filter:brightness(95%);
}
.btn-success:hover {
    filter:brightness(95%);
}
.btn-info:hover {
    filter:brightness(95%);
}
.btn-default:hover{
    filter:brightness(95%);
}
.btn-light:hover {
    filter:brightness(95%);
}
.btn-dark:hover {
    filter:brightness(95%);
}

/*button-group*/
.btn-group-s-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    border-radius:4px 0px 4px 0px;
    text-decoration:none
}
.btn-group-s-error:hover{
    filter:brightness(95%);
}
.btn-group-m-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    text-decoration:none
}
.btn-group-m-error:hover{
    filter:brightness(95%);
}
.btn-group-e-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    border-radius: 0px 4px 0px 4px;
    text-decoration:none
}
.btn-group-e-errot:hover{
    filter:brightness(95%);
}
.btn-group-s-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    border-radius:4px 0px 4px 0px;
    text-decoration:none
}
.btn-group-s-warning:hover{
    filter: brightness(95%);
}
.btn-group-s-warning:hover{
    filter:brightness(95%);
}
.btn-group-m-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    text-decoration:none
}
.btn-group-m-warning:hover{
    filter:brightness(95%);
}
.btn-group-e-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    border-radius: 0px 4px 0px 4px;
    text-decoration:none
}
.btn-group-e-warning:hover{
    filter:brightness(95%);
}
.btn-group-s-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    border-radius:4px 0px 4px 0px;
    text-decoration:none
}
.btn-group-s-success:hover{
    filter:brightness(95%);
}
.btn-group-m-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    text-decoration:none
}
.btn-group-m-success:hover{
    filter:brightness(95%);
}
.btn-group-e-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    border-radius: 0px 4px 0px 4px;
    text-decoration:none
}
.btn-group-e-success:hover{
    filter:brightness(95%);
}
.btn-group-s-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    border-radius:4px 0px 4px 0px;
    text-decoration:none
}
.btn-group-s-info:hover{
    filter:brightness(95%);
}
.btn-group-m-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    text-decoration:none
}
.btn-group-m-info:hover{
    filter:brightness(95%);
}
.btn-group-e-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    border-radius: 0px 4px 0px 4px;
    text-decoration:none
}
.btn-group-e-info:hover{
    filter:brightness(95%);
}
.btn-group-s-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    border-radius:4px 0px 4px 0px;
    text-decoration:none
}
.btn-group-s-default:hover{
    filter:brightness(95%);
}
.btn-group-m-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    text-decoration:none
}
.btn-group-m-default:hover{
    filter:brightness(95%);
}
.btn-group-e-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    border-radius: 0px 4px 0px 4px;
    text-decoration:none
}
.btn-group-e-default:hover{
    filter:brightness(95%);
}
.btn-group-s-light{
    padding:5px;
    font-family:Arial;
    color:#000;
    background:Var(--light);
    border-radius:4px 0px 4px 0px;
    text-decoration:none
}
.btn-group-s-light:hover{
    filter:brightness(95%);
}
.btn-group-m-light{
    padding:5px;
    font-family:Arial;
    color:#000;
    background:Var(--light);
    text-decoration:none
}
.btn-group-m-light:hover{
    filter:brightness(95%);
}
.btn-group-e-light{
    padding:5px;
    font-family:Arial;
    color:#000;
    background:Var(--light);
    border-radius: 0px 4px 0px 4px;
    text-decoration:none
}
.btn-group-e-light:hover{
    filter:brightness(95%);
}
.btn-group-s-dark{
    padding:5px;
    font-family:Arial;
    color:#000;
    background:Var(--dark);
    border-radius:4px 0px 4px 0px;
    text-decoration:none
}
.btn-group-s-dark:hover{
    filter:brightness(95%);
}
.btn-group-m-dark{
    padding:5px;
    font-family:Arial;
    color:#000;
    background:Var(--dark);
    text-decoration:none
}
.btn-group-m-dark:hover{
    filter:brightness(95%);
}
.btn-group-e-dark{
    padding:5px;
    font-family:Arial;
    color:#000;
    background:Var(--dark);
    border-radius: 0px 4px 0px 4px;
    text-decoration:none
}
.btn-group-e-dark:hover{
    filter:brightness(95%);
}

/*btn table*/
.btn-table-topleft-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    border-radius:4px 0px 0px 0px;
    text-decoration:none
}
.btn-table-topleft-error:hover{
    filter:brightness(95%);
}
.btn-table-topright-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    border-radius:0px 4px 0px 0px;
    text-decoration:none
}
.btn-table-topright-error:hover{
    filter:brightness(95%);
}
.btn-table-bottomleft-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    border-radius:0px 0px 4px 0px;
    text-decoration:none
}
.btn-table-bottomleft-error:hover{
    filter:brightness(95%);
}
.btn-table-bottomright-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    border-radius:0px 0px 0px 4px;
    text-decoration:none
}
.btn-table-bottomright-error:hover{
    filter:brightness(95%);
}
.btn-table-middle-error{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--error);
    text-decoration:none
}
.btn-table-middle-error:hover{
    filter:brightness(95%);
}
.btn-table-topleft-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    border-radius:4px 0px 0px 0px;
    text-decoration:none
}
.btn-table-topleft-warning:hover{
    filter:brightness(95%);
}
.btn-table-topright-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    border-radius:0px 4px 0px 0px;
    text-decoration:none
}
.btn-table-topright-warning:hover{
    filter:brightness(95%);
}
.btn-table-bottomleft-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    border-radius:0px 0px 4px 0px;
    text-decoration:none
}
.btn-table-bottomleft-warning:hover{
    filter:brightness(95%);
}
.btn-table-bottomright-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    border-radius:0px 0px 0px 4px;
    text-decoration:none
}
.btn-table-bottomright-warning:hover{
    filter:brightness(95%);
}
.btn-table-middle-warning{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--warning);
    text-decoration:none
}
.btn-table-middle-warning:hover{
    filter:brightness(95%);
}
.btn-table-topleft-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    border-radius:4px 0px 0px 0px;
    text-decoration:none
}
.btn-table-topleft-success:hover{
    filter:brightness(95%);
}
.btn-table-topright-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    border-radius:0px 4px 0px 0px;
    text-decoration:none
}
.btn-table-topright-success:hover{
    filter:brightness(95%);
}
.btn-table-bottomleft-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    border-radius:0px 0px 4px 0px;
    text-decoration:none
}
.btn-table-bottomleft-success:hover{
    filter:brightness(95%);
}
.btn-table-bottomright-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    border-radius:0px 0px 0px 4px;
    text-decoration:none
}
.btn-table-bottomright-success:hover{
    filter:brightness(95%);
}
.btn-table-middle-success{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--success);
    text-decoration:none
}
.btn-table-middle-success:hover{
    filter:brightness(95%);
}
.btn-table-topleft-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    border-radius:4px 0px 0px 0px;
    text-decoration:none
}
.btn-table-topleft-info:hover{
    filter:brightness(95%);
}
.btn-table-topright-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    border-radius:0px 4px 0px 0px;
    text-decoration:none
}
.btn-table-topright-info:hover{
    filter:brightness(95%);
}
.btn-table-bottomleft-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    border-radius:0px 0px 4px 0px;
    text-decoration:none
}
.btn-table-bottomleft-info:hover{
    filter:brightness(95%);
}
.btn-table-bottomright-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    border-radius:0px 0px 0px 4px;
    text-decoration:none
}
.btn-table-bottomright-info:hover{
    filter:brightness(95%);
}
.btn-table-middle-info{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--info);
    text-decoration:none
}
.btn-table-middle-info:hover{
    filter:brightness(95%);
}
.btn-table-topleft-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    border-radius:4px 0px 0px 0px;
    text-decoration:none
}
.btn-table-topleft-default:hover{
    filter:brightness(95%);
}
.btn-table-topright-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    border-radius:0px 4px 0px 0px;
    text-decoration:none
}
.btn-table-topright-default:hover{
    filter:brightness(95%);
}
.btn-table-bottomleft-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    border-radius:0px 0px 4px 0px;
    text-decoration:none
}
.btn-table-bottomleft-default:hover{
    filter:brightness(95%);
}
.btn-table-bottomright-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    border-radius:0px 0px 0px 4px;
    text-decoration:none
}
.btn-table-bottomright-default:hover{
    filter:brightness(95%);
}
.btn-table-middle-default{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--default);
    text-decoration:none
}
.btn-table-middle-default:hover{
    filter:brightness(95%);
}
.btn-table-topleft-light{
    padding:5px;
    font-family:Arial;
    color: #000;
    background:Var(--light);
    border-radius:4px 0px 0px 0px;
    text-decoration:none
}
.btn-table-topleft-light:hover{
    filter:brightness(95%);
}
.btn-table-topright-light{
    padding:5px;
    font-family:Arial;
    color: #000;
    background:Var(--light);
    border-radius:0px 4px 0px 0px;
    text-decoration:none
}
.btn-table-topright-light:hover{
    filter:brightness(95%);
}
.btn-table-bottomleft-light{
    padding:5px;
    font-family:Arial;
    color: #000;
    background:Var(--light);
    border-radius:0px 0px 4px 0px;
    text-decoration:none
}
.btn-table-bottomleft-light:hover{
    filter:brightness(95%);
}
.btn-table-bottomright-light{
    padding:5px;
    font-family:Arial;
    color: #000;
    background:Var(--light);
    border-radius:0px 0px 0px 4px;
    text-decoration:none
}
.btn-table-bottomright-light:hover{
    filter:brightness(95%);
}
.btn-table-middle-light{
    padding:5px;
    font-family:Arial;
    color: #000;
    background:Var(--light);
    text-decoration:none
}
.btn-table-middle-light:hover{
    filter:brightness(95%);
}
.btn-table-topleft-dark{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--dark);
    border-radius:4px 0px 0px 0px;
    text-decoration:none
}
.btn-table-topleft-dark:hover{
    filter:brightness(95%);
}
.btn-table-topright-dark{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--dark);
    border-radius:0px 4px 0px 0px;
    text-decoration:none
}
.btn-table-topright-dark:hover{
    filter:brightness(95%);
}
.btn-table-bottomleft-dark{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--dark);
    border-radius:0px 0px 4px 0px;
    text-decoration:none
}
.btn-table-bottomleft-dark:hover{
    filter:brightness(95%);
}
.btn-table-bottomright-dark{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--dark);
    border-radius:0px 0px 0px 4px;
    text-decoration:none
}
.btn-table-bottomright-dark:hover{
    filter:brightness(95%);
}
.btn-table-middle-dark{
    padding:5px;
    font-family:Arial;
    color:#fff;
    background:Var(--dark);
    text-decoration:none
}
.btn-table-middle-dark:hover{
    filter:brightness(95%);
}
